@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  
}
.banner{

width: 100vw ;
 height:  100vh;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}
.banner video{
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100% ;
  height: 100%;
}
.formulario {
  width: 500px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.imgLogo {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  /*border: 1px solid rgba(109, 86, 10, 0.7);*/
}

.formulario__titulo,
.formulario__subtitulo,
.formulario__parrafo {
  text-align: center;
  margin-top: 0;
}
.formulario__titulo,
.formulario__subtitulo {
  color: rgba(0, 0, 0, 0.7  );
}
.formulario__parrafo {
  color: rgba(0, 0, 0, 0.5);
}
.formulario__input,
.formulario__label {
  display: block;
  width: 100%;
  font-size: 1, 3em;
  
}
.formulario__input {
  padding: 10px;
  background: transparent;
  /* puedo colocar otro color pero con transparencia asi: background: rgba(0,0,0,0.1) porque sino no se ven las label, aunque ya no es necesario porque ya no estan sobre los input y ademas le quite el z-index*/
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  border-radius: 10px;
}
.formulario__input:focus {
  /*outline: 1px solid rgba(0,0,0,0.7);*/
  outline: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}
/*.formulario__input:focus + .formulario__label{
    margin-top: -120px;
}*/
.formulario__label {
  padding-left: 15px;
  /*position: absolute;*/
  /*margin-top: -78px;*/
  /*z-index: -20;*/
  color: rgba(0, 0, 0, 0.7);
  /*transition: all 0.2s;*/
  margin: 2px;
}
.formulario__submit {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  display: block;
  width: 50%;
  font-size: 1, 3em;
}
.image-fundo{
  display: none;
}
/*Centrar los campos del formulario (Los input y el boton de Enviar al WhatsApp, que tambien es un input)*/

.formulario__input,
.formulario__submit {
  margin-left: auto;
  margin-right: auto;
}

/*.fijar {
    margin-top: -120px;
} */

/* respuesta del formulario */
#respuesta {
  width: 100%;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
#respuesta.fail {
  color: red;
}
#respuesta.send {
  color: green;
}


@media (min-width: 1920px) and (max-width: 3840px){
  .formulario {
    width: 800px;
    
    border-radius: 45px 0px  45px 0px;
     background: rgba(255, 255, 255, 0.6);
  }

  .image-fundo {
    display: none;
    width: 800px;
    position: relative;
    
  }
  .imgLogo {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    /*border: 1px solid rgba(109, 86, 10, 0.7);*/
  }
  .formulario__input,
  .formulario__label {
  
    font-size: 1.4em;
  
  }
  .formulario__submit {

    font-size: 1.3em;
  }
  footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: 1rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Amiri', serif;
    font-size: 1.7em;
     
  }
  footer p {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1920px){
  .formulario {
    width: 700px;
    border-radius: 55px 0px  55px 0px;
     background: rgba(255, 255, 255, 0.6);
  }
  .imgLogo {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    /*border: 1px solid rgba(109, 86, 10, 0.7);*/
  }
  .formulario__input,
  .formulario__label {
  
    font-size: 1.4em;
  
  }
  .formulario__submit {
    margin-top: 2em;
    font-size: 1.3em;
  }
  footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: 1rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Amiri', serif;
    font-size: 1em;
     
  }
  footer p {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 900px) and (max-width: 1200px){
  .formulario {
    width: 600px;
    border-radius: 45px 0px  45px 0px;
     background: rgba(255, 255, 255, 0.6);
  }
  .imgLogo {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    /*border: 1px solid rgba(109, 86, 10, 0.7);*/
  }
  .formulario__input,
  .formulario__label {
  
    font-size: 1.4em;
  
  }
  .formulario__submit {

    font-size: 1.3em;
  }
  footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: 1rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Amiri', serif;
    font-size: 1.7em;
     
  }
  footer p {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 600px) and (max-width: 900px){
  .formulario {
    width: 500px;
    border-radius: 45px 0px  45px 0px;
     background: rgba(255, 255, 255, 0.6);
  }
  .imgLogo {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    /*border: 1px solid rgba(109, 86, 10, 0.7);*/
  }
  .formulario__input,
.formulario__label {
  
  font-size: 1.4em;
  
}
  .formulario__submit {

    font-size: 1.3em;
  }
  footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: 1rem;
    
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Amiri', serif;
    font-size: 1.2em;
  }
  footer p {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 460px) and (max-width: 600px){
   .formulario {
    width: 430px;
    border-radius: 35px 0px  35px 0px;
     background: rgba(255, 255, 255, 0.6);
  }
  footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: .5rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Amiri', serif;
    font-size: 1.1em;
     
  }
  footer p {
    margin: 0;
    padding: 0;
    font-size:1em ;
  }
}

@media (min-width:0px) and (max-width: 460px){
  .formulario {
    width: 350px;
    border-radius: 35px 0px  35px 0px;
     background: rgba(255, 255, 255, 0.6);
  }
  .imgLogo {
    width: 110px;
    height: 110px;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    /*border: 1px solid rgba(109, 86, 10, 0.7);*/
  }
  .formulario__input,
  .formulario__label {
  
    font-size: 1em;
    
  }
  .formulario__submit {

    font-size: 1em;
  }
  footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding-bottom: 1rem;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Amiri', serif;
    font-size: 1em;
     
  }
  footer p {
    margin: 0;
    padding: 0;
  }
}
